:root {
  --color-1: #8C71D8;
  --color-2: #59C164;
  --color-3: #EB7072;
  --color-4: #84918D;
  --color-5: #E0EAEA;
  --color-6: #1C2A25;
}

* {
  margin: 0;
  padding: 0;
}

table {
  font-weight: bold;
  float: right
}

ul {
  list-style-type: none;
}

thead {
  border-style: none;
  font-size: 15px;
}

tbody {
  border-style: none;
  font-weight: normal;
  color: gray;
  background-color: transparent;
}

tbody tr {
  border-bottom-style: solid;
  border-color: gray;
  border-width: 1px;
}
tfoot {
  background-color: #D2C5F6;
}
tfoot tr {
  border-bottom-style: solid;
  border-color: gray;
  border-width: 1px;
}
tfoot tr td:first-child {
  background-color: var(--color-1);
  color: #FFFFFF;
}
.main-content-container {
  max-width: 1400px;
  margin: 0 auto;
}
.ticker {
  font-weight: bold;
}
.view-stock-details {
  padding: 2px;
}
.view-stock-details:hover {
  cursor: pointer;
  color: var(--color-1);
}

.price-paid {
  color: gray;
  display: block;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 10px;
  height: 2rem;
  width: 90px;
}

.days-gain {
  font-weight: bold;
  color: white;
  padding: 5px 10px;
}

.total-gain {
  font-weight: bold;
}

.bg-blue {
  background-color: skyblue;
}

.text-bold {
  font-weight: bold;
}

.bg-green {
  background-color: var(--color-2);
}

.bg-red {
  background-color: var(--color-3);
}

.text-green {
  color: var(--color-2);
}

.text-red {
  color: var(--color-3);
}

.title-bar {
  padding: 8px 0 8px 3rem;
  margin-bottom: 25px;
  color: white;
  background-color: var(--color-1);
}

.mb {
  margin-bottom: 20px;
}

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important; 
}

.pv-05 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important; 
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #595959;
}

h6 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

i {
  color: white;
}
.my-stocks {
  display: inline;
}
#refresh-button {
  float: right;
  background-color: var(--color-1);
}

#searchButton {
  background-color: var(--color-1);
}

#searchTerm {
  font-weight: bold;
}

.ml {
  margin-left: 1rem !important;
}

.ml-2 {
  margin-left: 2rem;
}

.remove-button {
  font-weight: initial;
  color: #FF0000;
  border: none;
  background-color: transparent;
  outline:none;
}
.remove-button:hover {
  cursor: pointer;
  color: 	#B22222;
}

.input-group-rounded .input-group-field {
  border-radius: 10px 0 0 10px;
  padding-left: 1rem;
}

.input-group-rounded .input-group-button .button {
  border-radius: 0 10px 10px 0;
  font-size: 1.2rem;
  padding: 0 .5em;
}


.centerButton {
  text-align: center;
  /* margin: 0 auto; */
}

/* MODAL */
.modal-news a{
  text-emphasis: none;
  color: #595959;
}

.modal-error{
  text-align: center;
  text-emphasis: bold;
  font-size: 16px;
}

.hidden {
  visibility: hidden;
}

/* footer*/
.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #8C71D8;
  color: white;
  min-width: 100%;
  font-size: 18px;
  text-emphasis: bold;
  padding: 4px 4px 4px;
}

@media only screen and (max-width: 990px) {
  .ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column {
    width: 100%!important;
    margin: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    padding: 1rem 1rem!important;
  }
}

@media only screen and (max-width: 425px) {
  #modal-news {
    margin-left: 0px!important;
    margin-right: 0px!important;
  }

  .remove-button {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #f53100 5%, #bc3315 100%);
	  background-color:#f53100;
	  border-radius:3px;
	  border:1px solid #942911;
	  display:inline-block;
	  cursor:pointer;
	  color:#ffffff;
	  font-family:Arial;
	  font-size:13px;
	  padding:6px 24px;
	  text-decoration:none;
	  text-shadow:0px 1px 0px #854629;
  }

  .remove-button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #f53100 100%);
    background-color:#bc3315;
  }

  .remove-button:active {
    position:relative;
    top:1px;
  }
  
}